* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
	width: 100%;
	/* Estilo */
	color: white;
}

#cabecalho {
	height: 7%;
	width: 100%;
	/* Estilo */
	background-color: black;
}

.container {
	height: 93%;
	display: flex;
	flex-direction: row;
}

.saida {
	height: 100%;
	flex: 2;
	/* Estilo */
	background-color: #232325;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#saida-testes {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 80%;
}

#saida-testes ul {
	list-style: none;
}